@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans+Condensed:wght@300&display=swap');

body {
	font-family: 'Open Sans Condensed', sans-serif;
	background-color:white;
}

/*barre de navigation*/
.menu-nav {
	margin: 0;
	padding: 0;
}

.menu-nav ul{
	display: flex;
	justify-content: flex-end;
	margin: 0;
}

.menu-nav li a{
	text-decoration: none;
	color: #162C9A;
	padding:20px 16px;
}

.menu-nav ul li.btn:hover a{
	background-color: #e2f6ff;
	transition: 0.3s;
	border-radius: 8px;
}

/*style de tout les li de la page*/
li{
	list-style-type: none;
	font-weight: bold;
	font-size: 1.3em;
}

/*title h1 et span*/
.title{
	font-family: 'Dancing Script', cursive;
	position: relative;
}

.commune{
	color: #162C9A;
	font-size: 4em;
	text-shadow: 1px 3px 2px #6a9ef1;
	margin-bottom: 10px;
	margin-top: 0;
}

.title span{
	color: #000; /*noir*/
	text-align: center;
	font-size: 0.6em;
	margin: 10px;
}

/*image principale*/
.image-principale {
	z-index: 1;
	position: absolute;
	height: 400px;
	width: auto;
	border-radius: 8px;
	margin: 0% 20%;
}

/*image secondaire*/
.image-opacity {
	position: absolute;
	z-index: 0;
	height: 420px;
	width: auto;
	border-radius: 8px;
	margin: 1% 22%;
	opacity: 0.4;
}

/*btn coté gauche image*/
.left-nav li a{
	text-decoration: none;
	color: #162C9A;
}

.left-nav li{
    width:100px;
    border: 2px solid #162C9A;
    height: 90px;
	padding-top: 10px;
	border-radius:100px;
	text-align: center;
}

.left-nav .left{
	display: flex;
	flex-direction: column;
}

.left-nav .btn{
	margin-bottom: 10px;
}